<div class="main-content">
  <h1>Greeting card generator</h1>
  <div>
    <label>Title</label><br />
    <input type="text" name="title" [(ngModel)]="poem.title" /> <br />
    <label>Author</label><br />
    <input type="text" name="author" [(ngModel)]="poem.author" />
  </div>
  <div>
    <label>Content</label><br />
    <textarea name="content" rows="8" cols="80" [(ngModel)]="body"></textarea>
  </div>
  <div>
    <button type="button" name="generateButton" (click)="generate()">
      Generate
    </button>
  </div>
</div>
